<%= form_with model: @meal, local: true do |f| %>
  <p>日付</p>
    <%=   f.date_select(
                :day,
                  use_month_numbers:true,
                  discard_year:true)
    %>
  <p>食事内容<%= f.text_field :meal_content %></p>
  <p>タンパク質量: <%= f.text_field :protein %>g</p>

  <%= f.submit "再保存する" %>
<% end %>