<%= form_with model: @meal, local: true do |f| %>
  <p>日付</p>
    <%=   f.date_select(
                :day,
                  use_month_numbers:true,
                  )
    %>
  <p>食事内容<%= f.text_field :meal_content %></p>
  <p>タンパク質量: <%= f.text_field :protein %>g</p>


  <%= f.submit "保存する", class: "btn btn-outline-primary" %></br>
  <%= link_to "食事管理トップへ戻る", meals_path , class: "btn btn-outline-primary" %>
<% end %>