<h1>過去の記録</h1>
<% @meals.each do |meal| %>
  <p><%= meal.day %>:<%= meal.meal_content %>:<%= meal.protein %>g</p>
  <%= link_to "上記の編集", edit_meal_path(meal), method: :get, class: "btn btn-outline-primary" %>
  <%= link_to "上記の削除", meal_path(meal), method: :delete, data: {confirm: "削除しますか?"}, class: "btn btn-outline-primary" %>
<% end %></br>

<%= link_to "食事管理トップへ", meals_path, class: "btn btn-outline-primary" %>