<h1>過去の記録</h1>
<% @meals.each do |meal| %>
  <p><%= meal.day %>:<%= meal.meal_content %>:<%= meal.protein %>g</p>
  <%# <%= link_to "この記録を削除する", user_path(user), method: :delete, data: {confirm: "削除しますか?"} %>
  <%# <%= link_to "この記録を編集する", edit_user_path(user) %> %> %>
<% end %>

<%= link_to "食事管理トップへ", meals_path %>